<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LangLearn.Starting"
        tools:targetApi="31">
        <activity
            android:name=".ChangePhotoActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn"/>
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".WordsActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".NoConnectionActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".AuditionIncorrectActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".AuditionCorrectActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".AuditionActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".AnimalsIFalse"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".AnimalsTrue"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".Animals"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".LanguageSelector"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".Confirm"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".Signup"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.LangLearn" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LangLearn.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>